@media screen and (max-width: 576px) {
    body {
        background-color: lightskyblue;
    }
    p {
        display: none;
    }
}

@media screen and (min-width: 576px) {
    body {
        background-color: lightgreen;
    }
    p {
        font-size: 16px;
        color: black;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        background-color: yellow;
    }
}